#luck-puzzle {
  text-align: center;
  padding-top: 30vh;
  background-color: #222;
  color: #fff;
}

#doors button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 20px;
  width: 80px;
  height: 180px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
}

#doors button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 3px;
  background-color: #222;
  transform: translate(-50%, -50%);
}

#doors button:hover {
  background-color: #666;
}

